*{
    margin: 0;
    padding: 0;
}

html{ background: rgb(136, 195, 247); /* rgb(28, 39, 138);*/
    height: 100vh;
    width: 100vw;
    
 }


header{
    border-bottom: .2em white solid;    
    background-color:rgb(30, 30, 182);
    padding:1em;  
    width: 100vw; 
    min-width: 300px;
    
 }
 img{
    max-width: 100vw;
    height: auto;
 }

 nav {
    width: auto;
    background-color: #555;
    overflow: auto;
    border-bottom: .2em white solid;   
  }
  
  nav a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  nav a:hover {
    background-color: #000;
  }
  
  .active {
    background-color: #290fed;
  }
  .footer{       
  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(30, 30, 182);
    text-align: Left;
    border-top: .1em white solid;

}
main{
    width: fit-content;
    min-width:fit-content;
    max-height: max-content;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    background-color: white;
    padding: 0; 
    margin: 1em;   
}

.heading{
    color: black;    
    display:flex ;     
    gap: 1em;
    width: fit-content; 
    margin: .1em;
    padding: 1em;
   
}

label, input{
    font-size: 1.0em;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: .05em;
    text-shadow: 0 0 15px rgba(0,0,0,0.5);
    
}

.studentView{
    background-color:ghostwhite;
    width: max-content; 
    min-height: 1em;   
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    padding-bottom: 1.5em;
    padding-left: 1.5em; 
    padding-right: 1.5em; 
    padding-top: 1em;
    overflow:auto;
    height:15em ;
     
}

.tblStudents{    
    min-width: auto;
    background-color:aliceblue; 
     

}
td, th{
    border: 1px solid black;
    padding: .5em;
    font-size: large;
    min-width: none;
}
h3{
    font-weight: bold;
    font-family: Arial;
    font-style: normal;
}

.button{
    background-color: rgb(64, 64, 112);
    color: wheat;
    font-size: 18px;
    text-align: center;    
    border-radius: 5px;
    border-color:rgb(58, 139, 211);
    padding-left: 1em;
    padding-right: 1em;  
    
}
.button:hover{
    background-color: blue;   
}   

.form{    
    background-color:ghostwhite;
    padding: .5em;    
    margin: 1%;    
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    display: flexbox;
    font-size: 18px;
    text-decoration:forestgreen;

}

